
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Assalamu+Alaikum&display=swap" rel="stylesheet">

</head>
<body>
<h1>Create User</h1>
<div th:if="${message}" class="alert alert-danger" role="alert">
    <p th:text="${message}"></p>
</div>
<form action="/user/create" th:action="@{/user/create}" th:object="${user}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" th:field="*{surname}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>


    <div>
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" />
    </div>
    <div>
        <button type="submit">Create User</button>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

</form>
<form action="/login" method="get">
    <button type="submit">Login</button>
</form>
</body>
</html>