<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Withdraw Page</title>
</head>
<body>
<h2>Hello, <span th:text="${userName}"></span>!</h2>

<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<p>Your account balance: <span th:text="${accBalance}"></span></p>
<p>Total earned: <span th:text="${totalEarned}"></span></p>
<p>Total spent: <span th:text="${totalSpent}"></span></p>

<form method="post" action="/withdraw">
    <label for="amount">Enter withdraw amount:</label>
    <input type="number" id="amount" name="amount" required/>
    <button type="submit">Withdraw</button>
</form>

<div th:if="${amount}">
    <p>You have withdrawn: <span th:text="${amount}"></span></p>
</div>
<p></p>
<p></p>
<p></p>
<p></p>

<form action="/site" method="get">
    <button type="submit">Back</button>
</form>

</body>
</html>
